@import "tailwindcss";

:root{
  --primary : #61d095;
  --secondary: #439775;
  --dark: #0d0f0c;
}

.btn-primary {
  @apply w-full bg-[var(--primary)] py-2 rounded-2xl text-[var(--dark)] shadow-lg;
}

.btn-not-active {
  @apply bg-[var(--primary)]/40  text-gray-600 w-full py-2 rounded-2xl shadow-inner;
}